<!DOCTYPE html>
<html lang="en">
<header>
        <% include ./partials/_header %>
        <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
</header>
<head>
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
​
</head>
​
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/owners.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/owners.js"></script>
​
​
  <body>
    <container class= "ownersContainer">
      <div class='itemTable'>
        <table class='itemsTable'>
          <tr class = "headerTable">
            <th>Items</th>
            <th>Quantity</th>
            <!-- <th>Price</th> -->
          </tr>
​
          <% let itemcount = 0;
            for (item in order.items) {
            itemcount += order.items[item].quantity; %>
          <tr>
            <td> <%= order.items[item].name %> </td><td><%= order.items[item].quantity %> </td>​
          </tr>​
           <% } %>
​
          <tr class='Total'><td>Total</td><td class = "itemTotal"><%= itemcount %></td></tr>
​
            </table>
          </div>
​
          <div class = "waitTime" data-identifier = "<%= order.phone_number %>">
​
            <div  class='customer'>
​
            <th id="customer_name"> When should we tell <%= order.customer_name %> to pickup his order ?</th>
            <input  type="text" placeholder="waitingTime" id="waitingTime">
            <button class="time" data-identifier = "<%= order.order_id %>">Submit</button>
​
          </div>
​
        </div>
        <div class = "afterCustomerNotification">
          <span class = "afterCustomerNotificationTime" data-identifier="<%= order.customer_name %>"></span>
        </div>
​
​
     </container>
        </body>
 </html>
